
/* Custom Styles */
.nolink{
  color: rgb(34, 34, 34);
  text-decoration: none;
}
.nolink:hover{
  color: rgb(16, 15, 15);
  text-decoration: none;
}
.nobtn{
  color: rgb(34, 34, 34);
  text-decoration: none;
  border: none;
}
.nobtn:hover{
  color: rgb(16, 15, 15);
  text-decoration: none;
  border: none;
}