div.card.items{
    width: 78%;
    right: 0;
    margin-left: 22%;
}
div.card.cart{
    width: 20%;
    position: fixed;
    left: 0;
    margin-right: 78%;
    margin-top: 2%;
    z-index: 10;
}
/* div.card.items{} */
/* div.card.item{} */